{<<"app">>,<<"gen_batch_server">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Generic batching server">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"LICENSE-APACHE2">>,<<"LICENSE-MPL-RabbitMQ">>,
  <<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/gen_batch_server.app.src">>,<<"src/gen_batch_server.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>,<<"MPL-2.0">>]}.
{<<"links">>,
 [{<<"github">>,<<"https://github.com/rabbitmq/gen-batch-server">>}]}.
{<<"name">>,<<"gen_batch_server">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.8.9">>}.
