{<<"app">>,<<"khepri">>}.
{<<"build_tools">>,[<<"rebar3">>,<<"mix">>]}.
{<<"description">>,<<"Tree-like replicated on-disk database library">>}.
{<<"files">>,
 [<<"LICENSE-Apache-2.0">>,<<"LICENSE-MPL-2.0">>,<<"README.md">>,
  <<"include">>,<<"include/khepri.hrl">>,<<"mix.exs">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src">>,<<"src/khepri.app.src">>,<<"src/khepri.erl">>,
  <<"src/khepri_adv.erl">>,<<"src/khepri_app.erl">>,<<"src/khepri_bang.hrl">>,
  <<"src/khepri_cluster.erl">>,<<"src/khepri_cluster.hrl">>,
  <<"src/khepri_condition.erl">>,<<"src/khepri_error.hrl">>,
  <<"src/khepri_event_handler.erl">>,<<"src/khepri_evf.erl">>,
  <<"src/khepri_evf.hrl">>,<<"src/khepri_export_erlang.erl">>,
  <<"src/khepri_import_export.erl">>,<<"src/khepri_machine.erl">>,
  <<"src/khepri_machine.hrl">>,<<"src/khepri_machine_v0.erl">>,
  <<"src/khepri_node.hrl">>,<<"src/khepri_path.erl">>,
  <<"src/khepri_pattern_tree.erl">>,<<"src/khepri_payload.erl">>,
  <<"src/khepri_payload.hrl">>,<<"src/khepri_prefix_tree.erl">>,
  <<"src/khepri_projection.erl">>,<<"src/khepri_projection.hrl">>,
  <<"src/khepri_ret.hrl">>,<<"src/khepri_sproc.erl">>,
  <<"src/khepri_sup.erl">>,<<"src/khepri_tree.erl">>,<<"src/khepri_tx.erl">>,
  <<"src/khepri_tx.hrl">>,<<"src/khepri_tx_adv.erl">>,
  <<"src/khepri_utils.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>,<<"MPL-2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/rabbitmq/khepri">>}]}.
{<<"name">>,<<"khepri">>}.
{<<"requirements">>,
 [{<<"horus">>,
   [{<<"app">>,<<"horus">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.3.1">>}]},
  {<<"ra">>,
   [{<<"app">>,<<"ra">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.16.12">>}]}]}.
{<<"version">>,<<"0.17.2">>}.
