{<<"app">>,<<"ra">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Raft library">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"LICENSE-APACHE2">>,<<"LICENSE-MPL-RabbitMQ">>,
  <<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/ra.app.src">>,<<"src/ra.erl">>,<<"src/ra.hrl">>,<<"src/ra_app.erl">>,
  <<"src/ra_aux.erl">>,<<"src/ra_bench.erl">>,<<"src/ra_counters.erl">>,
  <<"src/ra_dbg.erl">>,<<"src/ra_directory.erl">>,<<"src/ra_env.erl">>,
  <<"src/ra_ets_queue.erl">>,<<"src/ra_file.erl">>,<<"src/ra_flru.erl">>,
  <<"src/ra_leaderboard.erl">>,<<"src/ra_lib.erl">>,<<"src/ra_log.erl">>,
  <<"src/ra_log_ets.erl">>,<<"src/ra_log_meta.erl">>,
  <<"src/ra_log_pre_init.erl">>,<<"src/ra_log_read_plan.erl">>,
  <<"src/ra_log_reader.erl">>,<<"src/ra_log_segment.erl">>,
  <<"src/ra_log_segment_writer.erl">>,<<"src/ra_log_snapshot.erl">>,
  <<"src/ra_log_sup.erl">>,<<"src/ra_log_wal.erl">>,
  <<"src/ra_log_wal_sup.erl">>,<<"src/ra_lol.erl">>,<<"src/ra_machine.erl">>,
  <<"src/ra_machine_ets.erl">>,<<"src/ra_machine_simple.erl">>,
  <<"src/ra_metrics_ets.erl">>,<<"src/ra_monitors.erl">>,<<"src/ra_mt.erl">>,
  <<"src/ra_range.erl">>,<<"src/ra_server.erl">>,<<"src/ra_server.hrl">>,
  <<"src/ra_server_proc.erl">>,<<"src/ra_server_sup.erl">>,
  <<"src/ra_server_sup_sup.erl">>,<<"src/ra_snapshot.erl">>,
  <<"src/ra_sup.erl">>,<<"src/ra_system.erl">>,
  <<"src/ra_system_recover.erl">>,<<"src/ra_system_sup.erl">>,
  <<"src/ra_systems_sup.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>,<<"MPL-2.0">>]}.
{<<"links">>,[{<<"github">>,<<"https://github.com/rabbitmq/ra">>}]}.
{<<"name">>,<<"ra">>}.
{<<"requirements">>,
 [{<<"aten">>,
   [{<<"app">>,<<"aten">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.6.0">>}]},
  {<<"gen_batch_server">>,
   [{<<"app">>,<<"gen_batch_server">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.8.9">>}]},
  {<<"seshat">>,
   [{<<"app">>,<<"seshat">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.6.0">>}]}]}.
{<<"version">>,<<"2.16.12">>}.
