{<<"app">>,<<"seshat">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Counters registry">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"LICENSE-APACHE2">>,<<"LICENSE-MPL-RabbitMQ">>,
  <<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/seshat.app.src">>,<<"src/seshat.erl">>,<<"src/seshat_app.erl">>,
  <<"src/seshat_counters_server.erl">>,<<"src/seshat_sup.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>,<<"MPL-2.0">>]}.
{<<"links">>,[{<<"github">>,<<"https://github.com/rabbitmq/seshat">>}]}.
{<<"name">>,<<"seshat">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.6.0">>}.
