{<<"app">>,<<"reckon_db">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"BEAM-native Event Store built on Khepri/Ra">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"include">>,
  <<"include/reckon_db.hrl">>,<<"include/reckon_db_telemetry.hrl">>,
  <<"priv">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/esdb_aggregate_nif.erl">>,<<"src/esdb_archive_nif.erl">>,
  <<"src/esdb_capability_verifier.erl">>,<<"src/esdb_crypto_nif.erl">>,
  <<"src/esdb_filter_nif.erl">>,<<"src/esdb_graph_nif.erl">>,
  <<"src/esdb_hash_nif.erl">>,<<"src/esdb_revocation.erl">>,
  <<"src/reckon_db.app.src">>,<<"src/reckon_db_aggregator.erl">>,
  <<"src/reckon_db_app.erl">>,<<"src/reckon_db_archive_backend.erl">>,
  <<"src/reckon_db_archive_file.erl">>,<<"src/reckon_db_backpressure.erl">>,
  <<"src/reckon_db_causation.erl">>,<<"src/reckon_db_cluster_sup.erl">>,
  <<"src/reckon_db_config.erl">>,<<"src/reckon_db_consistency_checker.erl">>,
  <<"src/reckon_db_core_sup.erl">>,<<"src/reckon_db_discovery.erl">>,
  <<"src/reckon_db_emitter.erl">>,<<"src/reckon_db_emitter_group.erl">>,
  <<"src/reckon_db_emitter_pool.erl">>,<<"src/reckon_db_emitter_sup.erl">>,
  <<"src/reckon_db_filters.erl">>,<<"src/reckon_db_gateway_sup.erl">>,
  <<"src/reckon_db_gateway_worker.erl">>,
  <<"src/reckon_db_health_prober.erl">>,<<"src/reckon_db_leader.erl">>,
  <<"src/reckon_db_leader_sup.erl">>,<<"src/reckon_db_leader_tracker.erl">>,
  <<"src/reckon_db_links.erl">>,<<"src/reckon_db_memory.erl">>,
  <<"src/reckon_db_naming.erl">>,<<"src/reckon_db_node_monitor.erl">>,
  <<"src/reckon_db_notification_sup.erl">>,
  <<"src/reckon_db_persistence_sup.erl">>,
  <<"src/reckon_db_persistence_worker.erl">>,<<"src/reckon_db_scavenge.erl">>,
  <<"src/reckon_db_schema.erl">>,<<"src/reckon_db_snapshots.erl">>,
  <<"src/reckon_db_snapshots_store.erl">>,<<"src/reckon_db_store.erl">>,
  <<"src/reckon_db_store_coordinator.erl">>,<<"src/reckon_db_store_mgr.erl">>,
  <<"src/reckon_db_store_registry.erl">>,<<"src/reckon_db_streams.erl">>,
  <<"src/reckon_db_streams_reader.erl">>,<<"src/reckon_db_streams_sup.erl">>,
  <<"src/reckon_db_streams_writer.erl">>,
  <<"src/reckon_db_subscription_health.erl">>,
  <<"src/reckon_db_subscriptions.erl">>,
  <<"src/reckon_db_subscriptions_store.erl">>,<<"src/reckon_db_sup.erl">>,
  <<"src/reckon_db_system_sup.erl">>,<<"src/reckon_db_telemetry.erl">>,
  <<"src/reckon_db_temporal.erl">>,<<"src/reckon_db_tracker_group.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/reckon-db-org/reckon-db">>}]}.
{<<"name">>,<<"reckon_db">>}.
{<<"requirements">>,
 [{<<"khepri">>,
   [{<<"app">>,<<"khepri">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.17.2">>}]},
  {<<"reckon_gater">>,
   [{<<"app">>,<<"reckon_gater">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 1.1.1">>}]},
  {<<"telemetry">>,
   [{<<"app">>,<<"telemetry">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.3.0">>}]}]}.
{<<"version">>,<<"1.3.0">>}.
